
// $color-headings: #FFFFFF;
// $color-text: 858792;
// $bg: #252734;
// $bg-panel: #2A2C39;

$color-headings: #171515;
$color-text: #545454;
$bg: #FFFFFF;
$bg-panel: #e8eaea;


/* Typography font font-family */

$font-family-text: 'Poppins', OpenSans, Helvetica, serif;
$font-family-input: SourceCodePro, monaco, Courier, monospace;
