
/* UTILS */

// variables
$transition-duration: 200ms;

// Mixins
@mixin cardbgsize() {
  background-size: cover;
}

// placeholders

// animations
@keyframes smooth-render {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
/*****************************/

* {
  font-family: sans-serif;
}

*::after, *::before {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}



.row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.main {
  height: 400px;
  padding: 50px;

  & > div {
    // First block

    width: 350px;

    h1 {
      font-size: 3.5rem;
      font-weight: 500;

      & > span {
        overflow: hidden;
        display: block;

        span {
          display: block;
          transform: translateY(100%);
          animation: fadeIn ease 600ms forwards;
        }

        &:nth-child(2) span {
          animation-delay: 200ms;
        }

        &:nth-child(3) span {
          animation-delay: 400ms;
        }
      }
    }

    .box-find-passion {
      background: white;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      transform: translateX(35px);
      margin-top: 50px;

      %base {
        padding: 20px;
      }

      &__input {
        @extend %base;
        outline: none;
        border: none;
        box-shadow: -6px 0px 50px #eee;

        &::placeholder {
          font-weight: bold;
        }
      }

      &__btn {
        @extend %base;
        background: #90c978;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        span {
          display: block;
          position: relative;
          font-weight: bold;
          z-index: 100;
        }


        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background: #fdb27c;
          transform: translateY(100%);
          transition: transform $transition-duration ease;
        }

        &:hover::before {
          transform: translateY(0);
        }
      }
    }
  }

  // Second block
  & > .row {
    width: 100%;
  }

  .image-cards {

    // Manage first card
    // state while hover on cards panel
    &:hover .image-card:first-child {
      flex: 1;

      .image-card__description {
        opacity: 0;
      }

      .image-card__description-vertical {
        opacity: 1;
      }
    }

    .image-card {
      position: relative;
      flex-shrink: 0;
      width: 32%;
      margin-right: 2%;
      padding: 10px;
      color: white;
      border-radius: 15px;
      overflow: hidden;
      flex: 1;
      transition: flex ease $transition-duration;

      &__description {
        width: 100%;
        font-weight: 500;
        justify-content: space-around;
        position: absolute;
        bottom: 50px;
        left: 0;
        text-align: center;
        transition: opacity ease $transition-duration;
        z-index: 1;
        opacity: 0;
        font-size: 1.3rem;

        .small {
          font-size: 0.6rem;
          font-weight: normal;
        }

        &-vertical {
          width: 60px;
          height: 60px;
          background: #26212e;
          position: absolute;
          bottom: 50px;
          left: 0;
          z-index: 1;
          transition: opacity ease $transition-duration;

          &::after {
            content: "Writing";
            display: block;
            font-weight: 500;
            font-size: 1.3rem;
            transform: translateY(3px) rotate(-90deg) ;
          }
        }

      }

      // First image card
      &:first-child {
        background: url("../../assets/images/img1.jpg");
        @include cardbgsize();
        flex: 3;

        .image-card__description {
          opacity: 1;
        }

        .image-card__description-vertical {
          opacity: 0;
          transform: translateX(35px);
        }



      }

      // Second card
      &:nth-child(2) {
        background: url("../../assets/images/img2.jpg");
        @include cardbgsize();
      }

      // Last image card
      &:last-child {
        background: url("../../assets/images/img3.jpg");
        @include cardbgsize();
        margin-right: 0;
      }

      // while hover on card
      &:hover {
        flex: 3 !important;

        .image-card__description {
          opacity: 1 !important;
        }

        .image-card__description-vertical {
          opacity: 0 !important;
        }

      }

      // gradient dark background
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5872724089635855) 0%, rgba(0, 0, 0, 0) 50%);
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
